# Dependencies
node_modules
npm-debug.log*

# Build
dist
build
.cache
.tmp

# Env
.env
.env.*
!.env.example
.azure-secrets.env

# OS
.DS_Store
Thumbs.db

# Strapi
public/uploads/*
!/public/uploads/.gitkeep
exports/
